header{
    background: #0A3D2E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
   box-shadow: 0 2px 20px rgb(220, 176, 125);
   transition: all 0.3s ease;
}

.header-container{
    max-width: 1200px;
    margin: 1 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(45deg, #f6ca87, #ffe3ac);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul{
    display:flex;
    list-style: none;
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a{
    text-decoration: none;
    color: beige;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 0.5s ease;
    position:relative;
    overflow: hidden;
}

nav a:hover{
    color: white;
     background: linear-gradient(45deg, #386c5c , #ffe3ac);
     box-shadow: 0 5px 15px #D3C09B;
}

nav a.active{
    color: white;
    background: linear-gradient(45deg, #386c5c , #ffe3ac);
    box-shadow: 0 5px 15px #D3C09B;
    
}
nav i {
    color: white;
    font-size: 18px;
    margin-right: 6px;
}

main{
    margin-top: 90px;
    padding: 4rem;
}
.conclu{
    text-align: center;
    padding: 2rem 1rem 2rem;
    background: #0A3D2E;
    border-radius: 16px;
    margin-bottom: 2rem;
}
.conclu h2{
    font-size:xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.conclu p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foot{
    background-color: #0A3D2E;
    color: beige;
    padding: 10px 0 10px;
    position: relative;
}
.main{
    text-align: center;
    padding: 2rem 1rem 2rem;
    background:#ffe3ac;
    border-radius: 16px;
    margin-bottom: 2rem;
}
.footer-contain{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 50px;
    margin-bottom: 10px;
}

.bottom{
    color: #999999;
    font-size: 15px;
    text-align: center;
    justify-content: center;
}

.info h3,
.media h4,
.partners h4{
    color:linear-gradient(45deg, #f6ca87, #ffe3ac);
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info p{
    color: #f6ca87;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1.1rem;
}

.social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    text-decoration: none;
    background: #7D9D8B;
    border:#f6ca87;
    border-radius: 100%;
    color: rgb(234, 248, 107);
    font-size: 1.2rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.social-link:hover{
    color: #2c2c2c;
    border-color: plum;
    transform: translateY(-3px);
}