header{
    background: #0A3D2E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
   box-shadow: 0 2px 20px rgb(220, 176, 125);
   transition: all 0.3s ease;
}

.header-container{
    max-width: 1200px;
    margin: 1 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(45deg, #f6ca87, #ffe3ac);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul{
    display:flex;
    list-style: none;
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a{
    text-decoration: none;
    color: beige;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 0.5s ease;
    position:relative;
    overflow: hidden;
}

nav a:hover{
    color: white;
    background: linear-gradient(45deg, #386c5c , #ffe3ac);
    box-shadow: 0 5px 15px #D3C09B;
}

nav a.active{
    color: white;
    background: linear-gradient(45deg, #386c5c , #ffe3ac);
    box-shadow: 0 5px 15px #D3C09B;
    
}
nav i {
    color: white;
    font-size: 18px;
    margin-right: 6px;
}

main{
    margin-top: 35px;
    padding: 1rem;
}
.hero {
    height: 600px;
    background-image: url("base5.jpg");
    background-size: cover;
    background-position: center;
}
.hero h4{
    padding-left: 2rem;
    padding-top: 15rem;
    color:#ffe3ac;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
}
.hero p{
    color: rgb(229, 212, 140);
    padding-left: 3rem;
    padding-top: 1rem;
    font-size: medium;
}
.cta-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    margin-left: 40px;
}

.cta-btn {
    background-color: #2E9F6B;       
    color: white;                    
    padding: 18px 40px;              
    font-size: 22px;
    text-decoration: none;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: 'Georgia', serif;
    transition: 0.3s;
}

.cta-btn:hover {
    transform: translateY(-4px);
    background-color: #27a366;
}

.arrow {
    font-size: 26px;
    line-height: 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
}
.item img{
    width:100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.5s ease;
}
.item{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px #0A3D2E;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.item:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 34px #0A3D2E;
}
.caption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0A3D2E
}
.title{
    text-decoration: none;
}
.article{
    text-align: left;
    padding: 3rem 1rem 1rem;
    border-radius: 16px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.article h2{
    font-size: 2.5rem;
    margin-bottom: 0.8;
    color: #0A3D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.txt{
    font-size: 1rem;
    color: #3A3A3A;
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.article img{
    width: 250px;
    height: auto;
    object-fit: contain;
}
.grid2{
    display:grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(1,2fr);
    gap: 1.5rem;
    padding-top: 2rem;
}
.item2 img{
    width:100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.5s ease;
}
.item2{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px #0A3D2E;
    transition: all 0.4s ease;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.item2:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 34px #0A3D2E;
}
.rev h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
.stars {
    color: gold;
    font-size: 24px;
}
.grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
}
.vid h4{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.item3 video{
    width:100%;
    height: 400px;
    object-fit: cover;
    transition: all 0.5s ease;
}
.item3{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px #0A3D2E;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: left;
}
.item3:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 34px #0A3D2E;
}
.foot{
    background-color: #0A3D2E;
    color: beige;
    padding: 10px 0 10px;
    position: relative;
}

.footer-contain{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 50px;
    margin-bottom: 10px;
}

.bottom{
    color: #999999;
    font-size: 15px;
    text-align: center;
    justify-content: center;
}

.info h3,
.media h4,
.partners h4{
    color:linear-gradient(45deg, #f6ca87, #ffe3ac);
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info p{
    color: #f6ca87;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1.1rem;
}

.social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    text-decoration: none;
    background: #7D9D8B;
    border:#f6ca87;
    border-radius: 100%;
    color: rgb(234, 248, 107);
    font-size: 1.2rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.social-link:hover{
    color: #2c2c2c;
    border-color: plum;
    transform: translateY(-3px);
}
