header{
    background: #0A3D2E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
   box-shadow: 0 2px 20px rgb(220, 176, 125);
   transition: all 0.3s ease;
}

.header-container{
    max-width: 1200px;
    margin: 1 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(45deg, #f6ca87, #ffe3ac);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul{
    display:flex;
    list-style: none;
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a{
    text-decoration: none;
    color: beige;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 0.5s ease;
    position:relative;
    overflow: hidden;
}

nav a:hover{
    color: white;
     background: linear-gradient(45deg, #386c5c , #ffe3ac);
     box-shadow: 0 5px 15px #D3C09B;
}

nav a.active{
    color: white;
    background: linear-gradient(45deg, #386c5c , #ffe3ac);
    box-shadow: 0 5px 15px #D3C09B;
    
}
nav i {
    color: white;
    font-size: 18px;
    margin-right: 6px;
}
main{
    margin-top: 75px;
    padding: 1rem;
}
.article h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.article p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
}
.article2 summary{
    background-color: #ffe3ac;
}
.article2 p{
    margin-right: 35px;
}
.article3 h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.article3 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.article4 h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.article4 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.hero{
    height: 400px;
    background-image: url(base6.jpg);
    background-size: cover;
    background-position: center;
}
.hero h4{
    padding-left: 2rem;
    padding-top: 5rem;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
}
.contain {
    margin-top: 150px;
    display: flex;
    justify-content: flex-start; 
    width: 100%;
}
.button {
    background-color: #2E9F6B;       
    color: white;                    
    padding: 18px 40px;              
    font-size: 22px;
    text-decoration: none;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: 'Georgia', serif;
    transition: 0.3s;
    margin-left: 40px;
}
.button:hover {
    transform: translateY(-4px);
    background-color: #27a366;
}
.arrow {
    font-size: 26px;
    line-height: 0;
}
.hero2{
    height: 400px;
    background-image: url(bb.webp);
    background-size: cover;
    background-position: center;
}
.hero2 h4{
    padding-left: 2rem;
    padding-top: 5rem;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
}
.hero3{
    height: 400px;
    background-image: url(two.webp);
    background-size: cover;
    background-position: center;
}
.hero4{
    height:400px;
    background-image: url(his.webp);
    background-size: cover;
    background-position: center;
}
.hero4 h4{
    padding-left: 2rem;
    padding-top: 5rem;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.hero3 h4{
    padding-left: 2rem;
    padding-top: 5rem;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.contain3 {
    margin-top: 150px;
    display:flex;
    justify-content: flex-start;
    width: 100%;
}
.button3{
    background-color: #2E9F6B;
    color: white;
    padding: 18px 40px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: 'Georgia', serif;
    transition: 0.3s;
    margin-left: 40px;
}
.button3:hover {
    transform: translateY(-4px);
    background-color: #27a366;
}
.arrow3 {
    font-size: 26px;
    line-height: 0;
}
.contain2 {
    margin-top: 150px;
    display: flex;
    justify-content: flex-start; 
    width: 100%;
}
.button2 {
    background-color: #2E9F6B;       
    color: white;                    
    padding: 18px 40px;              
    font-size: 22px;
    text-decoration: none;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: 'Georgia', serif;
    transition: 0.3s;
    margin-left: 40px;
}
.button2:hover {
    transform: translateY(-4px);
    background-color: #27a366;
}
.arrow2 {
    font-size: 26px;
    line-height: 0;
}
.foot{
    background-color: #0A3D2E;
    color: beige;
    padding: 10px 0 10px;
    position: relative;
}

.footer-contain{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 50px;
    margin-bottom: 10px;
}

.bottom{
    color: #999999;
    font-size: 15px;
    text-align: center;
    justify-content: center;
}

.info h3,
.media h4,
.partners h4{
    color:linear-gradient(45deg, #f6ca87, #ffe3ac);
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info p{
    color: #f6ca87;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1.1rem;
}

.social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    text-decoration: none;
    background: #7D9D8B;
    border:#f6ca87;
    border-radius: 100%;
    color: rgb(234, 248, 107);
    font-size: 1.2rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.social-link:hover{
    color: #2c2c2c;
    border-color: plum;
    transform: translateY(-3px);
}

